* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #1c92d2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f2fcfe,
    #1c92d2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f2fcfe,
    #1c92d2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.heading {
  text-align: center;
  margin-top: 3%;
  font-family: cursive;
}
button {
  background-color: #656565;
  color: white;
  font-weight: 900;
}
.container {
  width: 35%;
  height: 50vh;
  grid-gap: 5px;
  border-style: outset;
  margin: 2% auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-template-areas:
    "pd pd pd pd"
    "cd cd cd cd"
    "cd cd cd cd"
    "seven eight nine divide"
    "four five six m"
    "one two three minus"
    "z do p e"
    "sq clr del e";
}
.previousDisplay {
  grid-area: pd;
  background-color: black;
  font-size: 19px;
  text-align: right;
  overflow: auto;
}
.currentDisplay {
  grid-area: cd;
  background-color: black;
  overflow: auto;
  font-size: 25px;
  height: auto;
  text-align: right;
}
.button-7 {
  grid-area: seven;
}
.button-8 {
  grid-area: eight;
}
.button-9 {
  grid-area: nine;
}
.button-divide {
  grid-area: divide;
}
.button-4 {
  grid-area: four;
}
.button-5 {
  grid-area: five;
}
.button-6 {
  grid-area: six;
}
.button-multiply {
  grid-area: m;
}
.button-1 {
  grid-area: one;
}
.button-2 {
  grid-area: two;
}
.button-3 {
  grid-area: three;
}
.button-minus {
  grid-area: minus;
}
.button-0 {
  grid-area: z;
}
.button-decimal {
  grid-area: do;
}
.button-plus {
  grid-area: p;
}
.button-equal {
  grid-area: e;
  background-color: tomato;
}
.clear {
  grid-area: clr;
}
.delete {
  grid-area: del;
}
.square {
  grid-area: sq;
}
